.u-section-1 {
  background-image: url("images/unknowsn.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 752px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  font-size: 3.75rem;
  margin: 243px 0 0 698px;
}

.u-section-1 .u-text-2 {
  font-size: 0.75rem;
  margin: -11px 216px 60px 704px;
}

.u-section-1 .u-line-1 {
  width: 189px;
  left: auto;
  top: 307px;
  transform-origin: right center 0px;
  position: absolute;
  height: 3px;
  right: 27px;
}

.u-section-1 .u-line-2 {
  width: 409px;
  transform-origin: right center 0px;
  position: absolute;
  height: 3px;
  left: auto;
  top: 240px;
  right: 27px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 620px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 498px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 116px;
    margin-left: 604px;
    height: 19px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 20px;
    margin-left: 604px;
    margin-right: 116px;
  }

  .u-section-1 .u-line-2 {
    margin-left: 604px;
    margin-right: 116px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 475px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 278px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 6px;
    margin-left: 494px;
  }

  .u-section-1 .u-line-1 {
    margin-left: 494px;
    margin-right: 37px;
  }

  .u-section-1 .u-line-2 {
    margin-left: 494px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-1 .u-text-1 {
    width: 378px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 320px;
  }

  .u-section-1 .u-line-1 {
    margin-left: 320px;
    margin-right: 31px;
  }

  .u-section-1 .u-line-2 {
    margin-left: 320px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 337px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 1.5rem;
    margin-top: 117px;
    margin-right: 29px;
    margin-left: -29px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -7px;
    margin-right: 81px;
    margin-left: 39px;
    height: auto;
  }

  .u-section-1 .u-line-1 {
    width: 337px;
    left: 0;
    top: 162px;
    transform-origin: left center 0px;
    margin-top: initial;
    margin-left: initial;
    margin-right: initial;
  }

  .u-section-1 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 583px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 50px auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 533px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  line-height: 1.2;
  font-weight: 900;
  font-size: 2.25rem;
  margin: 96px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  line-height: 2;
  font-weight: 700;
  margin: 28px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 533px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0 0 30px;
}

.u-section-2 .u-image-1 {
  object-position: 50% 16.29%;
  background-position: 50% 16.29%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 439px;
    background-position: 50% 16.29%;
  }

  .u-section-2 .u-image-1 {
    left: 30px;
    right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 288px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 675px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -30px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 78px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 285px;
  }
}.u-section-3 {
  background-image: none;
  min-height: 1456px;
}

.u-section-3 .u-shape-1 {
  height: 745px;
  width: calc(((100% - 1140px) / 2) + 896px);
  margin: 0 0 0 auto;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: -634px auto 60px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/pic1.png");
  background-position: 50% 50%;
  min-height: 438px;
  animation-duration: 1000ms;
}

.u-section-3 .u-image-2 {
  background-image: url("images/pic2.png");
  background-position: 50% 50%;
  min-height: 438px;
  animation-duration: 1000ms;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 438px;
}

.u-section-3 .u-image-3 {
  background-image: url("images/pic7.png");
  background-position: 50% 50%;
  min-height: 438px;
  animation-duration: 1000ms;
}

.u-section-3 .u-image-4 {
  background-image: url("images/pic4.png");
  background-position: 50% 50%;
  min-height: 438px;
  animation-duration: 1000ms;
}

.u-section-3 .u-image-5 {
  background-image: url("images/pic6.png");
  background-position: 50% 50%;
  min-height: 438px;
  animation-duration: 1000ms;
}

.u-section-3 .u-layout-cell-7 {
  min-height: 438px;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px 20px;
}

.u-section-3 .u-image-6 {
  min-height: 438px;
  background-image: url("images/pic8.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-3 .u-layout-cell-9 {
  min-height: 438px;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px 20px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 1225px;
  }

  .u-section-3 .u-shape-1 {
    height: 618px;
    width: 887px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -507px;
  }

  .u-section-3 .u-image-1 {
    min-height: 361px;
  }

  .u-section-3 .u-image-2 {
    min-height: 361px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 361px;
  }

  .u-section-3 .u-image-3 {
    min-height: 361px;
  }

  .u-section-3 .u-image-4 {
    min-height: 361px;
  }

  .u-section-3 .u-image-5 {
    min-height: 361px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 361px;
  }

  .u-section-3 .u-image-6 {
    min-height: 361px;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 361px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 973px;
  }

  .u-section-3 .u-shape-1 {
    height: 492px;
    width: calc(((100% - 720px) / 2) + 670px);
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -381px;
  }

  .u-section-3 .u-image-1 {
    min-height: 277px;
  }

  .u-section-3 .u-image-2 {
    min-height: 277px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 277px;
  }

  .u-section-3 .u-image-3 {
    min-height: 277px;
  }

  .u-section-3 .u-image-4 {
    min-height: 277px;
  }

  .u-section-3 .u-image-5 {
    min-height: 277px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 277px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-6 {
    min-height: 277px;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 277px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 3880px;
  }

  .u-section-3 .u-shape-1 {
    height: 1652px;
    width: calc(((100% - 540px) / 2) + 420px);
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -1541px;
    margin-bottom: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 623px;
  }

  .u-section-3 .u-image-2 {
    min-height: 623px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 623px;
  }

  .u-section-3 .u-image-3 {
    min-height: 623px;
  }

  .u-section-3 .u-image-4 {
    min-height: 623px;
  }

  .u-section-3 .u-image-5 {
    min-height: 623px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 416px;
  }

  .u-section-3 .u-image-6 {
    min-height: 416px;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 623px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 2553px;
  }

  .u-section-3 .u-shape-1 {
    height: 1445px;
    width: calc(((100% - 340px) / 2) + 270px);
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -1334px;
    margin-bottom: 7px;
  }

  .u-section-3 .u-image-1 {
    min-height: 320px;
  }

  .u-section-3 .u-image-2 {
    min-height: 320px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 392px;
  }

  .u-section-3 .u-image-3 {
    min-height: 320px;
  }

  .u-section-3 .u-image-4 {
    min-height: 320px;
  }

  .u-section-3 .u-image-5 {
    min-height: 320px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 73px;
  }

  .u-section-3 .u-image-6 {
    min-height: 456px;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 320px;
  }
}.u-section-4 {
  background-image: linear-gradient(#46005c, #46005c);
  min-height: 781px;
}

.u-section-4 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 47px auto 0 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  animation-duration: 1000ms;
  width: 192px;
  margin: 23px auto 0;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  animation-duration: 1000ms;
  width: 188px;
  margin: 11px auto 0;
}

.u-section-4 .u-btn-1 {
  background-image: linear-gradient(to right, #8b00ff, #3e0087);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  animation-duration: 1000ms;
  margin: 1px auto 0;
  padding: 9px 13px;
}

.u-section-4 .u-line-2 {
  height: 3px;
  transform-origin: left center 0px;
  width: 1140px;
  margin: 36px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 14px auto 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 512px;
}

.u-section-4 .u-shape-1 {
  height: 421px;
  width: 472px;
  animation-duration: 1000ms;
  margin: 20px auto 0 10px;
}

.u-section-4 .u-image-1 {
  width: 457px;
  height: 423px;
  animation-duration: 1000ms;
  margin: -440px auto 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 512px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  font-size: 3.75rem;
  font-style: italic;
  text-shadow: -2px 2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 131px 193px 0 209px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  font-style: italic;
  font-size: 1.5rem;
  width: 126px;
  animation-duration: 1000ms;
  margin: -16px auto 0;
}

.u-section-4 .u-line-3 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 41px auto 3px 0;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 1050px;
  }

  .u-section-4 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 474px);
    margin-right: calc(((100% - 1140px) / 2) + 474px);
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
    margin-left: calc(((100% - 1140px) / 2) + 474px);
    margin-right: calc(((100% - 1140px) / 2) + 474px);
  }

  .u-section-4 .u-btn-1 {
    margin-top: 73px;
    margin-left: calc(((100% - 1140px) / 2) + 527px);
  }

  .u-section-4 .u-line-2 {
    width: 940px;
    margin-top: 830px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -818px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 471px;
  }

  .u-section-4 .u-shape-1 {
    width: 423px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    width: 364px;
    height: 346px;
    margin-top: -390px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 422px;
  }

  .u-section-4 .u-text-3 {
    width: 152px;
    margin-top: -240px;
    margin-right: 140px;
    margin-left: 156px;
  }

  .u-section-4 .u-line-3 {
    margin-top: 47px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 1043px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 65px;
  }

  .u-section-4 .u-line-2 {
    width: 720px;
    margin-top: 823px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -811px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-4 .u-shape-1 {
    width: 320px;
  }

  .u-section-4 .u-image-1 {
    width: 276px;
    height: 262px;
    margin-top: -301px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 81px;
    margin-left: 97px;
  }

  .u-section-4 .u-line-3 {
    margin-top: 35px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 950px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 506px;
    margin-left: calc(((100% - 1140px) / 2) + 486px);
    margin-right: calc(((100% - 1140px) / 2) + 486px);
  }

  .u-section-4 .u-btn-1 {
    margin-top: -475px;
  }

  .u-section-4 .u-line-2 {
    width: 540px;
    margin-top: 1072px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -1060px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 581px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -91px;
  }

  .u-section-4 .u-image-1 {
    width: 341px;
    margin-top: -368px;
    margin-left: 70px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 1904px;
  }

  .u-section-4 .u-line-1 {
    margin-top: 103px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-4 .u-line-2 {
    width: 340px;
    margin-top: 1769px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -1743px;
    margin-left: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 486px;
  }

  .u-section-4 .u-shape-1 {
    height: 256px;
    width: 290px;
    margin-top: 190px;
    margin-left: auto;
  }

  .u-section-4 .u-image-1 {
    width: 281px;
    margin-top: -262px;
    margin-left: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 90px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: -1035px;
    margin-right: 51px;
    margin-left: 71px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: -96px;
    margin-right: 109px;
    margin-left: 85px;
  }

  .u-section-4 .u-line-3 {
    margin-top: -1334px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 {
  background-image: linear-gradient(#46005c, #3e0087);
}

.u-section-5 .u-sheet-1 {
  min-height: 142px;
}

.u-section-5 .u-text-1 {
  letter-spacing: 0px;
  font-weight: 900;
  font-size: 1.5rem;
  text-transform: none;
  margin: 4px 60px 0 0;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 9px auto 0 0;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-text-2 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 9px 60px 40px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 0;
  }
}