.u-section-1 {
  background-image: url("images/foto2.png");
  min-height: 583px;
}

.u-section-1 .u-group-1 {
  min-height: 96px;
  margin-top: 357px;
  margin-bottom: 60px;
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  text-shadow: -2px 2px 8px rgba(26,26,26,1);
  animation-duration: 1000ms;
  font-size: 3.75rem;
  font-weight: 700;
  text-transform: none;
  font-family: Montserrat, sans-serif;
  width: 900px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
    min-height: 481px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    width: 880px;
    margin-top: -381px;
    margin-left: calc(((100% - 1140px) / 2) + 381px);
    margin-right: calc(((100% - 1140px) / 2) + 381px);
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 368px;
  }

  .u-section-1 .u-text-1 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 276px;
  }

  .u-section-1 .u-group-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    width: 520px;
    margin-top: -300px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 174px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 289px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 90px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-top: -235px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
    font-size: 3rem;
  }
}.u-section-2 {
  background-image: linear-gradient(#46005c, #3e0087);
}

.u-section-2 .u-sheet-1 {
  min-height: 178px;
}

.u-section-2 .u-text-1 {
  letter-spacing: 0px;
  font-size: 1.5rem;
  text-transform: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 46px 60px 0 0;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 31px;
  min-height: 16px;
  width: 31px;
  min-width: 16px;
  margin: 14px auto 0 0;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 15px 60px 24px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    font-style: normal;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}